<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PROG32759_A1_PizzaOrderWApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  <servlet>
	<servlet-name>FrontDoorServlet</servlet-name>
	<servlet-class>thomjade.prog.32758.OrderServlets.FrontDoorServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>OrderServlet</servlet-name>
	<servlet-class>thomjade.prog.32758.OrderServlets.OrderServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>FrontDoorServlet</servlet-name>
	<url-pattern>/FrontDoorServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>OrderServlet</servlet-name>
	<url-pattern>/OrderServlet</url-pattern>
</servlet-mapping>
-->
</web-app>
